In [1]:
import numpy as np
from numpy import NaN as npNaN
import pandas as pd
import yfinance as yf

In [2]:
import pandas_ta as ta # Technical Indicators

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import cross_val_score

return dataframe of given ticker symbol with relevant indicators

In [4]:
def get_indicator_data(ticker):
    df = yf.download(ticker,'2005-01-01', '2024-10-31', interval='5d') # downloading data on 5 day time-frame

    # Adding our indicators to the data frame
    # Tells you how overbought or oversold the stock is
    df['RSI'] = ta.rsi(df['Close'], length=18) 

    # Estimated Moving Average on 18 Day timeframe
    df['EMA18'] = ta.ema(df['Close'], length=18) 

    # Shows general direction of stock based on conviction behind each days move
    # If prices are rising and the OBV is making higher peaks and higher troughs, the upward trend is likely to continue:
    df['OBV'] = ta.obv(df['Close'], df['Volume'])

    # Identifies Overbought/Oversold conditions like RSI but is volume weighted
    # df['MFI'] = ta.mfi(df['High'], df['Low'], df['Close'], df['Volume'], length=14)

    # detects whether more money is flowing in or out of a stock
    # df['Accum/Dist'] = ta.ad(df['High'], df['Low'], df['Close'], df['Volume'])
    df = df.dropna()
    return df

In [5]:
get_indicator_data('AAPL')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,RSI,EMA18,OBV
Date,,,,,,,,,
2005-05-11,1.257143,1.273929,1.182500,1.271786,1.073992,2041981200,45.884638,1.394235,5.476604e+09
2005-05-16,1.234286,1.275000,1.233214,1.269643,1.072183,474294800,45.720146,1.381120,5.002309e+09
2005-05-26,1.426429,1.462143,1.426429,1.455000,1.228711,525520800,59.136095,1.388897,5.527830e+09
2005-05-31,1.452143,1.455000,1.413571,1.420000,1.199155,404205200,56.351441,1.392171,5.123625e+09
2005-06-10,1.335714,1.335714,1.268571,1.278929,1.080024,678932800,46.921977,1.380251,4.444692e+09
...,...,...,...,...,...,...,...,...,...
2024-10-03,225.139999,226.809998,223.320007,225.669998,225.669998,34044200,62.109471,216.723394,3.141633e+10
2024-10-08,224.300003,225.979996,223.250000,225.770004,225.770004,31855700,62.157039,217.675668,3.144819e+10
2024-10-18,236.179993,236.179993,234.009995,235.000000,235.000000,46431500,66.292365,219.499282,3.149462e+10
2024-10-23,234.080002,235.139999,227.759995,230.759995,230.759995,52287000,62.946673,220.684620,3.144233e+10
2024-10-28,233.320007,234.729996,229.559998,230.100006,230.100006,81981462,62.427405,221.675714,3.136035e+10