In [2]:
import pandas as pd

# Replace 'your_file.parquet' with the path to your Parquet file
file_path = 'data/train/part-0.parquet'

# Read the Parquet file
df = pd.read_parquet(file_path)

# Display the DataFrame
print(df)

         date_id  time_id  symbol_id    weight  feature_00  feature_01  \
0              0        0          1  3.889038         NaN         NaN
1              0        0          7  1.370613         NaN         NaN
2              0        0          9  2.285698         NaN         NaN
3              0        0         10  0.690606         NaN         NaN
4              0        0         14  0.440570         NaN         NaN
...          ...      ...        ...       ...         ...         ...
1944205      169      848         19  3.438631         NaN         NaN
1944206      169      848         30  0.768528         NaN         NaN
1944207      169      848         33  1.354696         NaN         NaN
1944208      169      848         34  1.021797         NaN         NaN
1944209      169      848         38  1.570022         NaN         NaN

         feature_02  feature_03  feature_04  feature_05  ...  feature_78  \
0               NaN         NaN         NaN    0.851033  ...   -0.281498
1               NaN         NaN         NaN    0.676961  ...   -0.302441
2               NaN         NaN         NaN    1.056285  ...   -0.096792
3               NaN         NaN         NaN    1.139366  ...   -0.296244
4               NaN         NaN         NaN    0.955200  ...    3.418133
...             ...         ...         ...         ...  ...         ...
1944205         NaN         NaN         NaN   -0.028087  ...   -0.166964
1944206         NaN         NaN         NaN   -0.022584  ...   -0.352810
1944207         NaN         NaN         NaN   -0.024804  ...   -0.239716
1944208         NaN         NaN         NaN   -0.016138  ...   -0.442859
1944209         NaN         NaN         NaN   -0.017634  ...   -0.174461

         responder_0  responder_1  responder_2  responder_3  responder_4  \
0           0.738489    -0.069556     1.380875     2.005353     0.186018
1           2.965889     1.190077    -0.523998     3.849921     2.626981
2          -0.864488    -0.280303    -0.326697     0.375781     1.271291
3           0.408499     0.223992     2.294888     1.097444     1.225872
4          -0.373387    -0.502764    -0.348021    -3.928148    -1.591366
...              ...          ...          ...          ...          ...
1944205     0.983339    -0.669860     0.272615    -3.676842    -1.221126
1944206     0.992615     0.961595     1.089402     0.796034     0.488380
1944207     1.701618     0.757672    -5.000000    -3.174266    -1.110790
1944208    -2.036891    -0.064228     1.919665     1.827681     0.872019
1944209     0.323230     0.018376    -3.457667    -0.305218    -0.181438

         responder_5  responder_6  responder_7  responder_8
0           1.218368     0.775981     0.346999     0.095504
1           5.000000     0.703665     0.216683     0.778639
2           0.099793     2.109352     0.670881     0.772828
3           1.225376     1.114137     0.775199    -1.379516
4          -5.000000    -3.572820    -1.089123    -5.000000
...              ...          ...          ...          ...
1944205     1.070584     0.465345     0.207483     0.874975
1944206     1.846634    -0.088542    -0.008324    -0.153451
1944207    -3.349107    -0.407801    -0.185842    -0.931004
1944208     3.248694     0.254584     0.090288     0.434726
1944209    -0.791345     0.347400     0.241875     0.987731

[1944210 rows x 92 columns]

In [3]:
df

,date_id,time_id,symbol_id,weight,feature_00,feature_01,feature_02,feature_03,feature_04,feature_05,...,feature_78,responder_0,responder_1,responder_2,responder_3,responder_4,responder_5,responder_6,responder_7,responder_8
0,0,0,1,3.889038,NaN,NaN,NaN,NaN,NaN,0.851033,...,-0.281498,0.738489,-0.069556,1.380875,2.005353,0.186018,1.218368,0.775981,0.346999,0.095504
1,0,0,7,1.370613,NaN,NaN,NaN,NaN,NaN,0.676961,...,-0.302441,2.965889,1.190077,-0.523998,3.849921,2.626981,5.000000,0.703665,0.216683,0.778639
2,0,0,9,2.285698,NaN,NaN,NaN,NaN,NaN,1.056285,...,-0.096792,-0.864488,-0.280303,-0.326697,0.375781,1.271291,0.099793,2.109352,0.670881,0.772828
3,0,0,10,0.690606,NaN,NaN,NaN,NaN,NaN,1.139366,...,-0.296244,0.408499,0.223992,2.294888,1.097444,1.225872,1.225376,1.114137,0.775199,-1.379516
4,0,0,14,0.440570,NaN,NaN,NaN,NaN,NaN,0.955200,...,3.418133,-0.373387,-0.502764,-0.348021,-3.928148,-1.591366,-5.000000,-3.572820,-1.089123,-5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1944205,169,848,19,3.438631,NaN,NaN,NaN,NaN,NaN,-0.028087,...,-0.166964,0.983339,-0.669860,0.272615,-3.676842,-1.221126,1.070584,0.465345,0.207483,0.874975
1944206,169,848,30,0.768528,NaN,NaN,NaN,NaN,NaN,-0.022584,...,-0.352810,0.992615,0.961595,1.089402,0.796034,0.488380,1.846634,-0.088542,-0.008324,-0.153451
1944207,169,848,33,1.354696,NaN,NaN,NaN,NaN,NaN,-0.024804,...,-0.239716,1.701618,0.757672,-5.000000,-3.174266,-1.110790,-3.349107,-0.407801,-0.185842,-0.931004
1944208,169,848,34,1.021797,NaN,NaN,NaN,NaN,NaN,-0.016138,...,-0.442859,-2.036891,-0.064228,1.919665,1.827681,0.872019,3.248694,0.254584,0.090288,0.434726
1944209,169,848,38,1.570022,NaN,NaN,NaN,NaN,NaN,-0.017634,...,-0.174461,0.323230,0.018376,-3.457667,-0.305218,-0.181438,-0.791345,0.347400,0.241875,0.987731

In [13]:
# Select rows where `symbol_id` is 1
filtered_df = df[df['symbol_id'] == 2]

In [14]:
filtered_df['time_id']

6794         0
6806         1
6818         2
6830         3
6842         4
          ...
1944117    844
1944136    845
1944155    846
1944174    847
1944193    848
Name: time_id, Length: 73863, dtype: int16

In [15]:
time_ids = filtered_df['time_id'].sort_values()

# Find gaps by checking the difference between consecutive values
gaps = time_ids.diff().loc[time_ids.diff() > 1]

print(f"Gaps in time_id: {gaps}")

Gaps in time_id: Series([], Name: time_id, dtype: float32)

In [20]:
for i in range(1, 38):
    filtered_df = df[df['symbol_id'] == i]
    time_ids = filtered_df['time_id'].sort_values()

    # Find gaps by checking the difference between consecutive values
    gaps = time_ids.diff().loc[time_ids.diff() > 1]

    print(f"Gaps in time_id: {gaps}")

Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)
Gaps in time_id: Series([], Name: time_id, dtype: float32)

In [17]:
time_ids = filtered_df['time_id'].sort_values()

In [18]:
time_ids

6794         0
1060403      0
1624139      0
804854       0
16982        0
          ...
1671664    848
770031     848
1806657    848
413454     848
1944193    848
Name: time_id, Length: 73863, dtype: int16